:root {
  --mala-green: #bbe6b5;
  --mala-purple: #581e3b;
  --mala-red: #9b0a16;
  --mala-burgundy: #76003b;
  --mala-sand: #f1e7cd;
  --mala-tan: #f1d68f;
}

.z-1 {
  z-index: 1;
}

.absolute-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collage__element-text {
  font-size: 30px;
}

.amiko {
  font-family: 'Amiko', sans-serif;
}

.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}

.header__title {
  width: 16%;
}

.header__container {
  margin-top: 5%;
}

.recipe-button {
  height: 69px;
  width: 217px;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--mala-green);
  color: var(--mala-purple);
  cursor: pointer;
}

.recipe-button:focus {
  outline: none;
}

.active-recipe-button {
  border-color: var(--mala-purple);
  background-color: var(--mala-purple);
  color: white;
}

.square {
  border-radius: 0;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.black {
  color: black;
}

.white {
  color: white;
}

.preorder-button {
  width: 183px;
  height: 68px;
  background-color: var(--mala-green);
  color: white;
  border: 0;
  cursor: pointer;
}

.preorder-button:focus {
  outline: none;
}

.subscribe-container {
  width: 100%;
  height: 470px;
  background: url('./img/subscribe-background.png') no-repeat;
  background-size: cover;
}

.subscribe-btn {
  color: white;
  border-color: white;
  border-left: 0;
  background-color: var(--mala-green);
}
