.header {
  width: 100%;
  height: 98px;
  display: flex; }
  .header__title {
    display: flex;
    align-items: center;
    height: 42px; }
    .header__title-text {
      color: #303030;
      font-family: "Josefin Sans", sans-serif;
      font-size: 35px;
      display: inline-block; }

.title {
  color: red; }
